* {
    box-sizing: border-box;
}

@media (max-width: 700px) {
    .cartes {
        flex-direction: column;
    }

    #titre {
        font-size: 32px;
    }
}

body {
    background-image: url("images/fond7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: rgb(255, 255, 255);
}

header {
    width: auto;
    height: auto;
    background-color: rgb(215, 166, 106);
    padding: 20px;
    border: 3px solid black;
    border-radius: 12px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    background-image: url("images/fond4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

nav a {
    width: 120px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    color: rgb(255, 255, 255); 
    transition: 0.5s;
}

nav a:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.221);
}

h1 {
    color: whitesmoke;
    font-size: 50px;
}

main {
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

section {
    width: 80%;
    min-height: 220px;
    padding: 25px;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}

section:hover {
    transform: scale(1.01);
}

#fuji {
    text-align: center;
    background-color: rgb(219, 202, 181);
    margin-top: 50px;
    height: auto;

    background-image: url("images/fond6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#foret {
    text-align: center;
    background-color: rgb(219, 202, 181);
    margin-top: 30px;
    height: auto;

    background-image: url("images/fond6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#ocean {
    text-align: center;
    background-color: rgb(219, 202, 181);
    margin-top: 30px;
    height: auto;

    background-image: url("images/fond6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

footer {
    height: 120px;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
}

img {
    border: 2px solid black;
    border-radius: 100%;
}







